:root {
    --primary-color: #FFF;
    --header-line: #32323D;
    --text-color: #DFDFDF;
    --price-old-color: #818181;
    --footer-logo-color: #F8DABF;
    --xl-color: #C7A17A;
    --dark-catalog-color: #14141D;
    --light-catalog-color: #22222F;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #020204;
    font-family: 'Jost', sans-serif;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 17px 60px;
    transition: background-color .2s ease;
}
.btn:hover {
    background: #5f3c19;
}
.btn-main {
    background: var(--xl-color);
}
.btn-second {
    background: #666681;
}
.header {
    border-bottom: 1px solid var(--header-line);
}

.header__line {
    border-bottom: 1px solid var(--header-line);
}


.header__line-wrapper {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.header__lng {
    display: flex;
}

.header__lng a {
    margin-right: 10px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.header__lng a.active {
    color: var(--xl-color);
}
.header__phone {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
}

/* HEADER */
.header__wrapper {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__block {
    width: 40%;
}
.header__block.right{
    display: flex;
    justify-content: flex-end;
}
.logo {
}

.logo img {
    height: 54px;
}

.nav {
    display: flex;
}
.nav__link {
    margin-right: 35px;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2s ease;
}
.nav__link:hover {
    color:coral;
}
.nav__link.active {
    color: var(--xl-color);
}
.nav__link.active:hover {
    color:coral;
}

.header__actions {
    display: flex;
    align-items: center;
}
.header__link {
    margin-right: 30px;
    position: relative;
}
.header__link:last-child {
    margin-right: 0;
}
.header__link-event {
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--xl-color);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}

/* INTRO */
.intro {
    background-image: url(../img/big_cup_of_coffe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 60px;
}
.intro:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2, 2, 4, 0.55);
}
.into__wrapper {
    padding: 20px 0;
    min-height: 720px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.intro__block {
    max-width: 565px;
}
.intro__title {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0 0 35px;
}
.intro__text {
    margin-bottom: 0 0 35px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;   
}
.intro__actions {
    display: flex;
}
.intro__actions .btn-main {
    margin-right: 20px;
}

/* INFO */
.info {

}
.info__block {
    display: flex;
    border-radius: 10px;
    background: #14141D;
    margin-bottom: 80px;
}

.info__img-wrapper {
    position: relative;
}

.info__img-wrapper:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
}

.info__img {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info__item {
    padding: 30px;
}
.info__title {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 15px;
}
.info__text {
    max-width: 500px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
}

/* CATALOG */
.block__title {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.products__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.products__block {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.products__item {
    display: block;
    padding: 20px;
    background-color: var(--dark-catalog-color);
    border-radius: 10px;
}
.products__item:hover {
    background-color: var(--light-catalog-color);
    transition: background-color .2s ease;
}

.products__img {
    max-height: 200px;
    min-width: 100px;
    margin: 0 auto 40px;
    display: block;
}
.products__title {
    margin: 0 0 25px;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}
.products__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products__price {
    display: flex;
    color: var(--primary-color);
    font-size: 18px;
    text-transform: uppercase;
}
.products__price del {
    color: var(--price-old-color);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 30px;
}
.products__favorite {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}






